body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
h4{
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}
h4{
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

:root{
  background-image: url("Background.jpg");
  --bg: #01263d;
  --bg-accent: #00bfde;
  --text-color: #ffffff;
  --nav-size: 60px;
  --boarder: 1px solid #68869a;
  --boarder-radius: 8px;
  --speed: 500ms;
}

title{
  width: max-content;
  font-size: 30px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--text-color);
  margin-left: auto;
  margin-right: auto;
}

ul{
  list-style: none;
  margin: 0%;
  padding: 0;
}

a{
  color: var(--text-color);
  text-decoration: none;

}

.navbar{
  height: var(--nav-size);
  width: 100vw-1rem;
  background-color: var(--bg);
  padding: 0 1rem 0 1rem;
  border-bottom: var(--boarder);
}

.navbar-nav{
  max-width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.nav-item{
  width: calc(var(--nav-size)*0.8);
  display: flex;
  align-items: center;
  justify-content: center;

}

.icon-button{
  --button-size: calc(var(var(--nav-size))+0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #68869a;
  border-radius: 50%;
  padding: 7px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover{
  filter: brightness(1.4);
}

.icon-button svg{
  fill: var(--text-color);
  width: 25px;
  height: 25px;
}

.dropdown{
  position: absolute;
  top: 58px;
  width: 400px;
  transform: translateX(45%);
  background-color: var(--bg-accent);
  border: var(--boarder);
  border-radius: var(--boarder-radius);
  padding: 1rem;
  overflow: hidden;
  z-index: 1;
}

.menu-item{
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--boarder-radius);
  transition: var(--speed);
  padding: 0.5rem;
}

.menu-item:hover{
  background-color: var(--bg);
}

.icon-right{
  margin-left: auto;
}

.devs-Heading{
  justify-content: center;
  text-align: center;
}

.devs-text{
  text-align: center;
  margin: 0;

}

.devs-icon-button{
  --button-size: calc(var(var(--nav-size)) + 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--bg-accent);
  border-radius: 50%;
  padding: 12px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.devs-icon-button:hover{
  filter: brightness(1.4);
}

.devs-icon-button svg{
  fill: var(--text-color);
  width: 40px;
  height: 40px;
}

.devs-dropdown{
  position: absolute;
  top: 58px;
  width: 400px;
  transform: translateX(-45vw);
  color: black;
  background-color: white;
  border: var(--boarder);
  border-radius: var(--boarder-radius);
  padding: 1rem;
  overflow: hidden;
  z-index: 1;
}

.devs-item{
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--boarder-radius);
  transition: var(--speed);
  background-color: white;
  color: black;
  padding: 0.5rem;
  justify-content: space-between;
}

.devs-item:hover{
  background-color: var(--text-color);
}

.transit-dropdown{
  position: absolute;
  top: 58px;
  width: 400px;
  transform: translateX(-45%);
  background-color: var(--bg-accent);
  border: var(--boarder);
  border-radius: var(--boarder-radius);
  padding: 1rem;
  overflow: hidden;
  z-index: 1;
}

.label{
  padding-left: 10px;
  padding-right: 10px;
}


@media only screen and (max-width: 750px) {
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }

  :root{
    background-image: url("Background.jpg");
    --bg: #01263d;
    --bg-accent: #00bfde;
    --text-color: #ffffff;
    --nav-size: 60px;
    --boarder: 1px solid #68869a;
    --boarder-radius: 8px;
    --speed: 500ms;
  }

  title{
    width: max-content;
    font-size: 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    color: var(--text-color);
    margin-left: auto;
    margin-right: auto;
  }

  ul{
    list-style: none;
    margin: 0%;
    padding: 0;
  }

  a{
    color: var(--text-color);
    text-decoration: none;

  }

  .navbar{
    height: var(--nav-size);
    width: 100vw-1rem;
    background-color: var(--bg);
    padding: 0 0.5rem 0 0.5rem;
    border-bottom: var(--boarder);
  }

  .navbar-nav{
    max-width: 100vw;
    height: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .nav-item{
    width: calc(var(--nav-size)*0.8);
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .icon-button{
    --button-size: calc(var(var(--nav-size))+0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #68869a;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }

  .icon-button:hover{
    filter: brightness(1.4);
  }

  .icon-button svg{
    fill: var(--text-color);
    width: 25px;
    height: 25px;
  }

  .dropdown{
    position: absolute;
    top: var(--nav-size);
    width: 375px;
    transform: translateX(42.5vw);
    background-color: var(--bg-accent);
    border: var(--boarder);
    border-radius: var(--boarder-radius);
    padding: 1rem;
    overflow: hidden;
    z-index:1
  }

  .menu-item{
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--boarder-radius);
    transition: var(--speed);
    padding: 0.5rem;
  }

  .menu-item:hover{
    background-color: var(--bg);
  }

  .icon-right{
    margin-left: auto;
  }

  .devs-Heading{
    justify-content: center;
    text-align: center;
  }

  .devs-text{
    text-align: center;
    margin: 0;

  }

  .devs-icon-button{
    --button-size: calc(var(var(--nav-size))+0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: var(--bg-accent);
    border-radius: 50%;
    padding: 12px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }

  .devs-icon-button:hover{
    filter: brightness(1.4);
  }

  .devs-icon-button svg{
    fill: var(--text-color);
    width: 40px;
    height: 40px;
  }

  .devs-dropdown{
    position: absolute;
    top: 58px;
    width: 375px;
    transform: translateX(-32.5vw);
    color: black;
    background-color: white;
    border: var(--boarder);
    border-radius: var(--boarder-radius);
    padding: 1rem;
    overflow: hidden;
    z-index: 1;
  }

  .devs-item{
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--boarder-radius);
    transition: var(--speed);
    background-color: white;
    color: black;
    padding: 0.5rem;
    justify-content: space-between;
  }

  .devs-item:hover{
    background-color: var(--text-color);
  }

  .transit-dropdown{
    position: absolute;
    top: var(--nav-size);
    width: 355px;
    transform: translateX(-42.5vw);
    background-color: var(--bg-accent);
    border: var(--boarder);
    border-radius: var(--boarder-radius);
    padding: 1rem;
    overflow: hidden;
    z-index:1
  }
}